body {
    background-image: url("image.png");
    background-size: cover;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}

#content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    padding: 10px 0px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: padding 0.4s;
}

#increment-btn {
    background: darkred;
    border: 2px solid red;
}


#save-btn {
    background: darkgreen;
    border: 2px solid greenyellow;
}

button:hover {
    padding: 16px 0px;
}

